body {
  font-family: Arial, sans-serif;
  background-color: #006A6A;
  color: white;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  position: relative; 
}

.avatar-section {
  text-align: center;
  padding-top: 40px; 
  position: relative;
}

.avatar {
  border-radius: 50%;
  width: 150px; 
  height: 150px; 
  margin-bottom: 20px; 
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.info-section, .description-section {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.info-box p, .description-section p {
  margin: 20px 0; 
}

.info-box div {
  margin-bottom: 15px;
  display: flex;
  align-items: center; 
}

.description-section {
  grid-column: span 2; 
}

.description-section h2, .description-section p {
  color: white; 
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-icon {
  width: 30px;
  height: 30px;
}

.events-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.events-box {
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
  color: white; 
  font-size: 1.2em; 
}

.edit-icon:hover {
  color: #00ccff; 
}
