body {
  font-family: Arial, sans-serif;
  background-color: #006A6A;
  color: white;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
}

.avatar-section {
  text-align: center;
  padding-top: 40px; /* Adjust the padding to move the avatar down */
}

.avatar {
  border-radius: 50%;
  width: 150px; 
  height: 150px; 
  margin-bottom: 20px; /* Add margin to move the user name down */
}

.info-section, .description-section, .events-section {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.info-box p, .description-section p {
  margin: 20px 0; 
}

.info-box div {
  margin-bottom: 15px; 
}

.description-section {
  grid-column: span 2; /* Span across two columns */
}

.description-section h2, .description-section p {
  color: white; /* Change the color to white */
}

.events-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.events-box {
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

